<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/search_page.css">
</head>
<body>  
    <nav>
        <div class="header">
            <h1>CODIEL</h1>
            <a href="/user/timeline">Timeline</a>
            <a href="/user/search" class="active_link">Search</a>
            <a href="/user/profile">Profile</a>
            <a href="#">Friends</a>
            <a href="#">Setting</a>
            <a href="#">Chat</a>
            <a href="/user/sign-out">Log Out</a>
        </div>
    </nav>

    <div class="all_content">
        <div class="create_post">
            <form action="/search/search-user" method="post">
                <input type="text" name="user_to_search" placeholder="Search Friends" required>
                <hr width="100%" color="black">
                <button type="submit"> Search</button>
            </form>
        </div>
    </div>

    <div class="search_result_div">
        <p class="search_result"> <%= found_users.length %> Results found</p>
        <%
            for(user of found_users){%>
                <div class="friend_result">
                    <div class="friend_info">
                        <img src="/photos/dp.png" alt="">
                        <a href=""></a>
                        <p> <a href="/user/show-profile/<%=user.id%>" title="Go To Profile" > <%= user.first_name %> <%= user.last_name %> </a> </p>
                    </div>
                    <a href="" title="Send Friend Request"> <i class="fas fa-user-plus"></i> </a>
                </div>                    
            <%}
        %>

    </div>

    <script>
        <% if(flash.success && flash.success.length > 0){%>
            new Noty({
                theme:'relax',
                text : "<%= flash.success %>",
                type:'success',
                layout:'topRight',
                timeout:1500
            }).show();  
        <%} %>

        <% if(flash.error && flash.error.length > 0){%>
            new Noty({
                theme:'relax',
                text : "<%= flash.error %>",
                type:'error',
                layout:'topRight',
                timeout:1500
            }).show();  
        <%} %>
    </script>
    
</body>